//- Блок рузультата поиска - таблица
div.etp-search-result-table
    table
        thead
            th Процедура
            th Наименование
            th Номер
            th Заказчик
            th Окончание подачи
            th
                |Цена&nbsp
                i.fa.fa-rub

        tr
            td Аукцион
            td= etpSearchName1
            td 1555486
            td= etpSearchBy1
            td 15.02.2016
            td 500000
        tr
            td Аукцион
            td= etpSearchName4
            td 4873259
            td= etpSearchBy2
            td 19.01.2016
            td 1500000
        tr
            td Аукцион
            td= etpSearchName1
            td 1555486
            td= etpSearchBy1
            td 15.02.2016
            td 500000
        tr
            td Аукцион
            td= etpSearchName2
            td 4646875
            td= etpSearchBy2
            td 18.03.2016
            td 600000
        tr
            td Аукцион
            td= etpSearchName2
            td 4646875
            td= etpSearchBy2
            td 18.03.2016
            td 300000
        tr
            td Аукцион
            td= etpSearchName3
            td 9834156
            td= etpSearchBy3
            td 21.05.2016
            td 298000
        tr
            td Аукцион
            td= etpSearchName3
            td 4873259
            td= etpSearchBy2
            td 19.01.2016
            td 1500000
        tr
            td Аукцион
            td= etpSearchName1
            td 1555486
            td= etpSearchBy1
            td 15.02.2016
            td 500000
        tr
            td Аукцион
            td= etpSearchName2
            td 4646875
            td= etpSearchBy2
            td 18.03.2016
            td 300000
        tr
            td Аукцион
            td= etpSearchName3
            td 9834156
            td= etpSearchBy3
            td 21.05.2016
            td 298000
        tr
            td Аукцион
            td= etpSearchName3
            td 4873259
            td= etpSearchBy2
            td 19.01.2016
            td 1500000